name: Build ESP-IDF firmware

on:
  push:
    tags: "v*"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      target: esp32

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build with ESP-IDF
        uses: espressif/esp-idf-ci-action@v1.1.0
        with:
          esp_idf_version: v5.5.1
          target: ${{ env.target }}
          path: '.'
          command: |
            idf.py build

      - name: Get binary
        run: |
          bin=$(ls build/*.bin \
          | grep -v bootloader \
          | grep -v partition \
          | grep -v ota_data \
          | head -n 1)

          echo "bin=$bin" >> $GITHUB_ENV 

      - name: Create GitHub Release with firmware
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref_name }}
          files: |
            build/*.bin
            
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: firmware-binaries
          path: |
            ${{ env.bin }}
