name: Build and upload firmware release

on:
  push:
    tags: "v*"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      idf_version: v5.5.1
      target: esp32
      bin: build/*.bin
      hardware: ~
      version: ~

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Get hardware and version from CMakeLists.txt
        run: |
          hardware=$(grep -oP 'add_compile_definitions\s*\(\s*hardware\s*=\s*"\K[^"]+' CMakeLists.txt)
          version=$(grep -oP 'project\s*\([^)]*VERSION\s+\K[0-9]+\.[0-9]+\.[0-9]+' CMakeLists.txt)

          if [ -z "$hardware" ]; then
            echo "Hardware not found in CMakeLists.txt"
            exit 1
          fi

          echo "Detected hardware: $hardware"
          echo "hardware=$hardware" >> $GITHUB_ENV

          if [ "v$version" != "${{github.ref_name}}" ]; then
            echo "Version mismatch!\nv$version != ${{github.ref_name}}"
            exit 1
          fi

          echo "Detected version: $version"
          echo "version=$version" >> $GITHUB_ENV

      - name: Build with ESP-IDF
        uses: espressif/esp-idf-ci-action@v1
        with:
          esp_idf_version: ${{env.idf_version}}
          target: ${{env.target}}
          path: '.'
          command: |
            idf.py build

      - name: Get firmware binary
        run: |
          bin=$(ls ${{env.bin}} \
          | grep -v bootloader \
          | grep -v partition \
          | grep -v ota_data \
          | head -n 1)

          echo "bin=$bin" >> $GITHUB_ENV

      # - name: Upload build artifacts
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: firmware-binaries
      #     path: |
      #       ${{env.bin}}

      - name: Create GitHub Release with firmware
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{github.ref_name}}
          files: |
            ${{ env.bin }}
      
      - name: Delete tag on failure
        if: failure()
        run: |
          git push origin ":refs/tags/${{github.ref_name}}" || true
          gh release delete "${{github.ref_name}}" --yes || true
